<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="logo">Login</div>
      <div class="login-item">
        <form action="/" method="POST" class="form form-login">
          <div class="form-field">
            <label class="email" for="login-email"
              ><span class="hidden">Email</span></label
            >
            <input
              id="login-email"
              name="Email"
              type="text"
              class="form-input"
              placeholder="Email"
            />
          </div>

          <div class="form-field">
            <label class="lock" for="login-password"
              ><span class="hidden">Password</span></label
            >
            <input
              id="login-password"
              name="Password"
              type="password"
              class="form-input"
              placeholder="Password"
            />
          </div>

          <div class="form-field">
            <a href="/"><button style="width: 362px">Login</button></a>
          </div>
        </form>
        <form action="/auth/facebook" method="GET" class="form form-login">
          <div class="form-field">
            <a href="/auth"
              ><button style="width: 362px">Login With Facebook</button></a
            >
          </div>
        </form>
        <!-- <div class="form-field">
            <input type="submit" value="Facebook login" />
          </div> -->
      </div>
    </div>
  </body>
</html>
